<header class="ox-layout__header" role="banner">
  <div class="ox-header-container">
    <a href="/" class="ox-header__logo">
      <img src="/assets/img/logo/mateco.svg" alt="Mateco" class="ox-header__logo__img"/>
      <span class="ox-header__site-name ox-header__site-name--with-border">Angular-ngxs</span>
    </a>
    <!-- <div class="ox-dropmenu-wrapper ox-show-large-up" aria-haspopup="true">
        ...
    </div> -->
  </div>
</header>
<app-add-todo></app-add-todo>
<app-todo-list></app-todo-list>
